<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle != null ? pageTitle + ' - TechForge' : 'TechForge'}"> TechForge </title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <header th:fragment="header" class="site-header">
        <div class="header-container">
            <!-- Logo -->
            <a th:href="@{/}" class="logo flex-shrink-0">
                <img th:src="@{/images/logo.png}">
            </a>
            <!-- Search -->
            <form th:action="@{/products}" method="get" class="search-form">
                <input type="search" name="keyword" class="form-control" placeholder="Tìm kiếm sản phẩm..."
                    aria-label="Search products">
                <button type="submit" class="btn btn-primary ms-2"> <i
                        class="sprite sprite-search-header icon-search"></i> </button>
            </form>
            <!-- Navigation -->
            <nav class="d-flex align-items-center gap-3 flex-shrink-0">
                <a th:href="@{/buildpc}" class="build-link">
                    <span class="icon-box">
                        <i class="sprite sprite-buildpc-header"></i>
                    </span>
                    <span>Xây dựng PC</span>
                </a>
                <a th:href="@{/contact}" class="build-link">
                    <span class="icon-box">
                        <i class="sprite sprite-contact-header"></i>
                    </span>
                    <span>Liên hệ</span>
                </a>
                <a th:href="@{/cart}" class="build-link">
                    <span class="icon-box">
                        <i class="sprite sprite-cart-header"></i>
                    </span>
                    <span>Giỏ hàng</span>
                </a>
                <a th:href="@{/login}" class="build-link">
                    <span class="icon-box">
                        <i class="sprite sprite-account-header"></i>
                    </span>
                    <span>Tài khoản</span>
                </a>
            </nav>
        </div>
    </header>